<div class="page_account"> 


    <% if (title) { %>
        <h1><%- title %></h1>
        <% } else {
          res.redirect('/')
        } %>
    
    
        <%- messages() %>
    
        <% if (errors) { %>
          <ul class="notice">
         <% errors.array().forEach(error => { %>
           <li><%= error.msg %></li>
        <%  }) %>
         </ul>
        <% } %>
        <p id="welcome">
          
        </p>
        <noscript>JavaScript must be enabled to use this page.</noscript>
     
    <script src="../../js/account-management.js"></script>
        </div>
      