<div class="fragments">
    <div class="main-head">
        <div>
            <span class="title-fragment"> 
                Welcome to CSE Motors!
            </span>
        </div>
        <div class="area-main">
            <div class="box-text-main">
                <span class="title-box-text">
                    DMC delorean
                </span> 
               
                <span class="content-box-text">
                    <br> 3 Cup holders
                    <br> Superman doors
                    <br> Fuzzy dice!
                </span>   
                <br>
                <button>
                    <span class="content-box-button">
                        Own Today
                    </span> 
                </button>
            </div>
            <img class="imagen-main" src="/images/vehicles/delorean-tn.jpg" alt="delorean car image"> 
        </div>
    
    </div>
    <div class="reviews">
        <div>
            <h1> <%- messages() %> </h1>
            <span class="title-fragment"> 
                DMC Delorean Reviews
            </span>
        </div>
        <div class="content-reviews">
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." 4/5</li>
                <li>"I'm feeling McFly!." (5/5)</li>
                <li>"The most futuristic ride of our day." (4/5)</li>
                <li>"80's livin and I love it!" (5/5) </li>
            </ul>
        </div>
    </div>
    <div class="upgrades">
        <div>
            <span class="title-fragment"> 
                DMC Delorean Reviews
            </span>
        </div>
        <div class="content-upgrades">
            <div class="first-upgrades">
                <div class="box-one-upgrades">
                    <img src="/images/upgrades/flux-cap.png" alt="flux cap image">
                    <br>
                    <span class="text-images-upgrades"><a href="/">Flux Capacitor</a></span>
                </div>
                <div class="box-two-upgrades">
                    <img src="/images/upgrades/flame.jpg" alt="flame image">
                    <br>
                    <span class="text-images-upgrades"><a href="/">Flame Decals</a></span>
                </div>
                
            </div>


            <div class="second-upgrades">
                <div class="box-three-upgrades">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper sticker image">
                    <br>
                    <span class="text-images-upgrades"><a href="/">Bumper Stickers</a></span>
                </div>
                <div class="box-four-upgrades">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub cap image">
                    <br>
                    <span class="text-images-upgrades"><a href="/">Hub Caps</a></span>
                </div>
            </div>
        </div>
    </div>
    
</div>
