/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  right: 10%;
  left: 10%;
}



header{ 

  display: flex; 
  justify-content: space-between;
  text-decoration-color:#000000;
  padding: 14px 16px;
}

header a {
  text-decoration: none;

}

.siteName{
  font-size:x-large;

}
#tools{
  color:#000000;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
}
    
.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
.menu li a:hover {
  background-color: #111;
}


/* Format for principal area */
.main-head{
  
  width:80%;
  
}
.area-main{
  
  position: relative;
  display: inline-block;
  
}

.title-fragment{
  font-size:x-large;
}

.box-text-main{
  background: rgba(251, 251, 251, 0.764);
  color: rgb(4, 48, 120);
  position: absolute;
  top: 10px;
  left: 10px;
}
.imagen-main{
  width: 200%; 
}

.reviews{
  padding: 14px 16px;
  width:80%;
  
}

.upgrades{
  padding: 14px 16px;
  width:80%;
  
}

.content-upgrades img{
  width: auto;
  height: 110px;
}

.content-upgrades a{
  justify-content: center;

}
.first-upgrades{
  display: flex; 
  justify-content: space-between;
   padding: 14px 16px;
}

.second-upgrades{
  display: flex; 
  justify-content: space-between;
  padding: 14px 16px;
}

 /******* Activity week 3 ***************/
  .details{
    width: 90%;
    height: 100%;
    margin-left: auto; 
    margin-right:auto;
    border: 5px solid rgb(0, 0, 0);
  }
  #inv-display{
  
  list-style-type: none;
  text-align: center;
  }
  #inv-display li{
  border: 5px solid rgb(0, 0, 0);
  margin: 10px 30px 15px 30px;
  text-align: center;
  }

  .details_make_model{
    font-size:x-large ;
    font-weight: bold;

  }
  .detail{
    font-weight: bold;
  }
  .details_image{
    width:90%;
  }

  .details_image{
    width: 90%;
    margin: 25px 0 0 25px;
   

  }
  .details_image img{
    width: 90%;
    margin: 25px 0 0 25px;
   

  }
  .details_characteristics{
    width: 90%;
    margin-left: auto; 
    margin-right:auto;
  }


  .page_login {
    margin: 10px 50px 20px;
    background-color: aqua;
    border: 3px solid rgb(15, 15, 15);
    text-decoration-color: whitesmoke;
    text-align: center;
    
  }
  .div_login{
    margin: 10% 5% 20%;
    border: 20px solid rgb(32, 25, 25);
    background-color: #333;
    color:white;
    
    
  }
  .login_form{
    margin: 10% 25% 20%;
    
    width: 200px;
    text-align: left;
  }

  .submit_form{
    margin: 15px 40px 10px; 
    
  }


@media only screen and (min-width:720px) {
  #wrapper{
    background-color: white;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto auto;
    
  }
  

  body{
    background-image: url(/images/site/checkerboard.jpg);
    background-repeat: round; 
  }
  
  header{ 
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  nav{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  main{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    
  }
  footer{
    grid-row: 4;
    
  }
  .fragments{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
  }
  .main-head{
    grid-row:1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .reviews{
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    
  }
  .content-reviews{
    line-height: 50px;
  }


  .upgrades{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  /******* Activity week 3 ***************/
  
  #inv-display{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    }
  #inv-display li{
    border: 5px solid rgb(0, 0, 0);
    margin: 10px 10px 10px 10px;
    text-align: center;
  }

  .details{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 80%;
  }
  .details_image{
    grid-column: start;
   

  }
  
  .details_characteristics{
    grid-column: end;

  }

  .login_form{
    margin: 10% 30% 20%; 
    font-size: x-large;
    width: 200px;
    text-align: left;
    border: 3px solid rgb(252, 252, 252);
    padding-left: 2%; 
  }

  .submit_form{
   
    
  }

}


